.App {
  font-family: sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stepper {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2.5rem;
}
.stepper-number {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}
.stepper-line {
  height: 2.5rem;
  width: 2px;
  background-color: grey;
  position: absolute;
  top: 2.5rem;
}
.active {
  background-color: blue;
  color: #fff;
}
